.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute; 
}
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 'Noto Sans KR', sans-serif;
}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body {
    background-color: #eae8fe;
}

@media (max-width: 768px) {
    body {
        background-color: #fff;
    }
}